[Desktop Entry]
Version=1.0
Name=MYSTART
Comment=MYSTART
#Exec=gnome-terminal -- bash -c 'source /home/pi/.bashrc; /home/pi/my_start.sh; exec bash'
Exec=bash /home/pi/mycar_ws/my_start.sh
Icon=/home/firefly/aoi_app/icon.jpg
Terminal=true
Type=Application
Categories=Application;
StartupNotify=false
